---
data:
  train: "/Users/somov-od/Documents/phd/projects/CompGen/my_dataset/text2sparql_vol_01_train.json"
  dev: "/Users/somov-od/Documents/phd/projects/CompGen/my_dataset/text2sparql_vol_01_dev.json"
  test: ""

hf_tokenizer: "cointegrated/rubert-tiny"
hf_transformer: "cointegrated/rubert-tiny"

epochs: 10
learning_rate: 0.001
batch_size: 32
hidden_encoder_size: 312
layers_to_freeze: 9
save_model_on_epoch: 10

save_model_path: "experiments"
run_name: "Base text2sparql model test run"

