---
data:
  train: "dataset/language_variation_split/english_train_split.json"
  dev: "dataset/language_variation_split/english_dev_split.json"
  test: "dataset/language_variation_split/english_test_split.json"

# for training
hf_tokenizer: "prajjwal1/bert-tiny"
hf_transformer: "prajjwal1/bert-tiny"
enable_attention: True

epochs: 1000
learning_rate: 0.001
num_warmup_steps: 10000
batch_size: 32
n_last_layers2train: 1

run_name: "1_layer_tiny_bert_one_batch_english_iid"

# for testing
save_model_path: "experiments"
inference_model_name: "3_layer_bert_decoder_attention_seq2seq.tar"

predictions_path: "predictions"
