---
data:
  train: "dataset/text2sparql_vol_01_train.json"
  dev: "dataset/text2sparql_vol_01_dev.json"
  test: "dataset/text2sparql_vol_01_test.json"

# for training
hf_tokenizer: "cointegrated/rubert-tiny"
hf_transformer: "cointegrated/rubert-tiny"

epochs: 1000
learning_rate: 0.0001
num_warmup_steps: 42
batch_size: 32
n_last_layers2train: 1

run_name: "last 3 layers+pooler+decoder on base on batch"

# for testing
save_model_path: "experiments"
inference_model_name: "last 3 layers+pooler+decoder on base on batch_seq2seq.tar"

predictions_path: "predictions"
